# pandasの紹介

In [1]:
# ライブラリの読み込み

import pandas as pd

## データの読み込み

様々なデータ形式に対応している

- read_csv
- read_excel
- read_hdf
- read_sql
- read_json
- read_msgpack (experimental)
- read_html
- read_gbq (experimental)
- read_stata
- read_sas
- read_clipboard
- read_pickle

CSV形式のデータ「`diabetes.csv`」と，Excel形式のデータ「`diabetes.xls`」を読み込む

In [2]:
df1 = pd.read_csv('data.csv')  # CSV形式のデータを読み込み
df1.head()                                    # 読み込んだデータの上から5行を確認

,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,target
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646,151
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204,75
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930,141
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362,206
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641,135

In [3]:
df1.shape  # 読み込んだデータのデータサイズを確認

(200, 11)

In [4]:
df2 = pd.read_excel('data.xls')  # Excel形式のデータを読み込み
df2.head()

,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,target
0,0.056239,-0.044642,-0.057941,-0.007966,0.052093,0.049103,0.056003,-0.021412,-0.028320,0.044485,158
1,-0.034575,0.050680,-0.055785,-0.015999,-0.009825,-0.007890,0.037595,-0.039493,-0.052959,0.027917,39
2,0.081666,0.050680,0.001339,0.035644,0.126395,0.091065,0.019187,0.034309,0.084495,-0.030072,196
3,-0.001882,0.050680,0.030440,0.052858,0.039710,0.056619,-0.039719,0.071210,0.025393,0.027917,222
4,0.110727,0.050680,0.006728,0.028758,-0.027712,-0.007264,-0.047082,0.034309,0.002008,0.077622,277

In [5]:
df2.shape  # 読み込んだデータのデータサイズを確認

(242, 11)

もとのタイプが違う2つのデータを，Jupyter Notebook上では同じDataFrame形式で扱えている！  
更に2つを1つのDataFrameとして結合することもできる

In [6]:
df = pd.concat([df1, df2])  # df1 と df2 を結合して，新しく df を作成
df.shape

(442, 11)

In [7]:
df.describe()  # データの要約統計量を確認（R言語でいうsummaryの機能）

,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,target
count,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02,442.000000
mean,-3.634285e-16,1.300807e-16,-8.045349e-16,1.281655e-16,-8.835316e-17,1.327024e-16,-4.574646e-16,3.777301e-16,-3.830854e-16,-3.412882e-16,152.133484
std,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02,77.093005
min,-1.072256e-01,-4.464164e-02,-9.027530e-02,-1.123996e-01,-1.267807e-01,-1.156131e-01,-1.023071e-01,-7.639450e-02,-1.260974e-01,-1.377672e-01,25.000000
25%,-3.729927e-02,-4.464164e-02,-3.422907e-02,-3.665645e-02,-3.424784e-02,-3.035840e-02,-3.511716e-02,-3.949338e-02,-3.324879e-02,-3.317903e-02,87.000000
50%,5.383060e-03,-4.464164e-02,-7.283766e-03,-5.670611e-03,-4.320866e-03,-3.819065e-03,-6.584468e-03,-2.592262e-03,-1.947634e-03,-1.077698e-03,140.500000
75%,3.807591e-02,5.068012e-02,3.124802e-02,3.564384e-02,2.835801e-02,2.984439e-02,2.931150e-02,3.430886e-02,3.243323e-02,2.791705e-02,211.500000
max,1.107267e-01,5.068012e-02,1.705552e-01,1.320442e-01,1.539137e-01,1.987880e-01,1.811791e-01,1.852344e-01,1.335990e-01,1.356118e-01,346.000000

## データの絞込

In [8]:
df[df.target > 150].shape  # dfのtargetが平均である150より大きいケースはどの位あるか？

(200, 11)

In [9]:
df[['feature_0', 'feature_1']].head()  # feature_0 と feature_1 のカラムだけを取り出す

   feature_0  feature_1
0   0.038076   0.050680
1  -0.001882  -0.044642
2   0.085299   0.050680
3  -0.089063  -0.044642
4   0.005383  -0.044642

In [10]:
df = df.drop('target', axis=1)  # target のカラムを削除する
df.head()

,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641

## データの並べ替え

In [11]:
# feature_0 の値の降順にデータを並べ変えて上位10件を表示

df.sort_values(by='feature_0', ascending=False).head(10)

,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9
202,0.110727,0.050680,-0.033151,-0.022885,-0.004321,0.020293,-0.061809,0.071210,0.015567,0.044485
4,0.110727,0.050680,0.006728,0.028758,-0.027712,-0.007264,-0.047082,0.034309,0.002008,0.077622
121,0.096197,-0.044642,0.051996,0.079254,0.054845,0.036577,-0.076536,0.141322,0.098646,0.061054
111,0.096197,-0.044642,0.040140,-0.057314,0.045213,0.060690,-0.021311,0.036154,0.012553,0.023775
11,0.092564,-0.044642,0.036907,0.021872,-0.024960,-0.016658,0.000779,-0.039493,-0.022512,-0.021788
118,0.088931,-0.044642,0.006728,0.025315,0.030078,0.008707,0.063367,-0.039493,0.009436,0.032059
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930
2,0.081666,0.050680,0.001339,0.035644,0.126395,0.091065,0.019187,0.034309,0.084495,-0.030072
53,0.081666,-0.044642,0.033673,0.008101,0.052093,0.056619,-0.017629,0.034309,0.034864,0.069338
131,0.081666,0.050680,-0.025607,-0.036656,-0.070367,-0.046407,-0.039719,-0.002592,-0.041180,-0.005220

## データの保存

様々なデータ形式に対応している

- to_csv
- to_excel
- to_hdf
- to_sql
- to_json
- to_msgpack (experimental)
- to_html
- to_gbq (experimental)
- to_stata
- to_clipboard
- to_pickle

`diabetes.csv` と `diabetes.xls` を結合したデータを `diabetes_all.csv`　として保存

In [12]:
df = pd.concat([df1, df2])
df.to_csv('data_all.csv', index=None)